.btn {
    padding: 1em 2em;
    text-align: center;
    font-size: 1.2em;
    margin: 10px;
    position: relative;
    transition: all 0.3s ease;
    border: 4px solid;
}

.btn__green {
    color: rgb(51, 179, 51);
    border-color: rgb(51, 179, 51);
    box-shadow: 4px 4px 0 0 rgb(51, 179, 51);
}

.btn__red {
    color: rgb(179, 60, 51);
    border-color: rgb(179, 60, 51);
    box-shadow: 4px 4px 0 0 rgb(179, 60, 51);
}

.btn__white {
    color: rgb(181, 182, 173);
    border-color: rgb(181, 182, 173);
    box-shadow: 4px 4px 0 0 rgb(181, 182, 173);
}

.btn:hover {
    cursor: pointer;
}

.btn__red:hover {
    color: red;
    border-color: red;
    box-shadow: 8px 8px 0 0 red;
}

.btn__green:hover {
    color: rgb(8, 219, 8);
    border-color: rgb(8, 219, 8);
    /* box-shadow: 4px 8px 12px -2px rgba(0, 255, 0, 5); */
    box-shadow: 8px 8px 0 0 rgb(8, 219, 8);
}

.btn__white:hover {
    color: white;
    border-color: white;
    box-shadow: 8px 8px 0 0 white;
}